
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
s
  overflow: hidden;
  margin: 0;
}